@tailwind base;
@tailwind components;
@tailwind utilities;

nav>div>img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 6rem;
  }

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #D00858;
    border-radius: 10px;
    border: 0.5px solid transparent;
    background-clip: content-box;
}